<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="1" parallel="false">
    <test name="Sample Test">
        <classes>
            <!-- Test sınıflarını sırayla buraya ekleyin -->
            <class name="uitests.NavbarTest"/>
            <class name="uitests.ExampleEyeminerTest"/>
        </classes>
    </test>
</suite>